# Data Collections 2 (Dictionaries, Sets) and Importing Modules

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Frozen Set <br>
3) Modules <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Importing Entire Modules <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Importing Methods Only <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Using the 'as' Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Creating a Module <br>
4) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Build a Shopping Cart <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Create Your Own Module <br>

In [ ]:
# Mutable data types - lists, dictionaries, sets
# Immutable data types - tuples, strings, integers, floats

In [2]:
name = "Lucas"
name[3] = 5

TypeError: 'str' object does not support item assignment

In [3]:
name_list = ['l', 'u', 'c', 'a', 's']
name_list[3] = 5
name_list

['l', 'u', 'c', 5, 's']

In [4]:
"lucas".replace('uc', 'od')

'lodas'

## Tuples <br>
<p>Used for write-protection.  Immutable data type</p>

In [5]:
tuple1 = (1, 2, 3, 4, "Derek", 'John')

In [7]:
tuple2 = 1, 2, 3, 4, "Derek", "John"

In [ ]:
# "'"
# '\''

In [9]:
tuple1[-1]

'John'

In [10]:
tuple1[:4]

(1, 2, 3, 4)

In [11]:
tuple1[-1] = 'QWERTY'

TypeError: 'tuple' object does not support item assignment

In [12]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [13]:
# remove all duplicates from a tuples
set1 = {1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8}

In [ ]:
set
list
tuple

In [17]:
tuple_test = (1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8)
tuple(set(tuple_test))

(1, 2, 3, 4, 5, 6, 7, 8)

In [18]:
list_test = [1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8]

# gotchas
list(set(list_test))

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
tuple_test = (1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8)
tuple_list = list(tuple_test)

In [21]:
tuple_list[0] = 'test'

In [22]:
tuple_list

['test', 2, 3, 4, 5, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8]

In [23]:
new_tuple = tuple(tuple_list)
new_tuple

('test', 2, 3, 4, 5, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8)

## Dictionary <br>
<p>A collection of data with 'key:value' pairs</p>

In [ ]:
# JavaScript - object
# Java/C-based language - hashmap
# PHP - associative arrays

##### Declaring (key, value)

In [24]:
dict_1 = {
    'first_name': 'Lucas',
    'last_name': 'Lang'
}

dict_1

{'first_name': 'Lucas', 'last_name': 'Lang'}

##### Accessing Values

In [25]:
dict_1['first_name']

'Lucas'

In [26]:
dict_1['Lucas']

KeyError: 'Lucas'

In [27]:
dict_2 = dict(age=28, location='Montana')

In [30]:
dict_2['location']

'Montana'

## Exercise #1 - Print the eye color of each person in a double nested dict

In [36]:
character = {
    'first_name': 'Lucas',
    'last_name': 'Lang',
    'username': 'LuCastle',
    'inventory': {
        'items' : {
            'mana': 5,
            'health': 5,
            'weapons': ['sword', 'dagger', 'staff']
        }
    }
}

In [41]:
for i in character['inventory']['items']['weapons']:
    print(i)

sword
dagger
staff

##### Adding New Pairs

In [43]:
character['inventory']['items']['apparel'] = ['gloves', 'boots', 'cloak', 'hood', 'rings', 'shield']

In [44]:
character

{'first_name': 'Lucas',
 'last_name': 'Lang',
 'username': 'LuCastle',
 'inventory': {'items': {'mana': 5,
   'health': 5,
   'weapons': ['sword', 'dagger', 'staff'],
   'apparel': ['gloves', 'boots', 'cloak', 'hood', 'rings', 'shield']}}}

##### Modifying Values

In [46]:
character['inventory']['items']['health'] = 10

In [47]:
character

{'first_name': 'Lucas',
 'last_name': 'Lang',
 'username': 'LuCastle',
 'inventory': {'items': {'mana': 5,
   'health': 10,
   'weapons': ['sword', 'dagger', 'staff'],
   'apparel': ['gloves', 'boots', 'cloak', 'hood', 'rings', 'shield']}}}

In [50]:
character['inventory']['items']['potions'] = {
    'mana': character['inventory']['items']['mana'], 
    'health': character['inventory']['items']['health']
}

In [51]:
character

{'first_name': 'Lucas',
 'last_name': 'Lang',
 'username': 'LuCastle',
 'inventory': {'items': {'mana': 5,
   'health': 10,
   'weapons': ['sword', 'dagger', 'staff'],
   'apparel': ['gloves', 'boots', 'cloak', 'hood', 'rings', 'shield'],
   'potions': {'mana': 5, 'health': 10}}}}

##### Removing Key, Value Pairs

In [54]:
del character['inventory']['items']['mana']

KeyError: 'mana'

In [55]:
del character['inventory']['items']['health']

In [56]:
character

{'first_name': 'Lucas',
 'last_name': 'Lang',
 'username': 'LuCastle',
 'inventory': {'items': {'weapons': ['sword', 'dagger', 'staff'],
   'apparel': ['gloves', 'boots', 'cloak', 'hood', 'rings', 'shield'],
   'potions': {'mana': 5, 'health': 10}}}}

##### Looping a Dictionary

In [58]:
for k in character:
    print(k, character[k])

first_name Lucas
last_name Lang
username LuCastle
inventory {'items': {'weapons': ['sword', 'dagger', 'staff'], 'apparel': ['gloves', 'boots', 'cloak', 'hood', 'rings', 'shield'], 'potions': {'mana': 5, 'health': 10}}}

##### Looping Only Keys

In [64]:
character.keys()

dict_keys(['first_name', 'last_name', 'username', 'inventory'])

In [65]:
for k in character.keys():
    print(k)

first_name
last_name
username
inventory

##### Looping Only Values

In [66]:
for v in character.values():
    print(v)

Lucas
Lang
LuCastle
{'items': {'weapons': ['sword', 'dagger', 'staff'], 'apparel': ['gloves', 'boots', 'cloak', 'hood', 'rings', 'shield'], 'potions': {'mana': 5, 'health': 10}}}

In [70]:
# for i, v in enumerate(['lucas', 'derek', 'nicole']):
#     print(i, v)

0 lucas
1 derek
2 nicole

In [73]:
for v in character.items():
    print(v[1])

Lucas
Lang
LuCastle
{'items': {'weapons': ['sword', 'dagger', 'staff'], 'apparel': ['gloves', 'boots', 'cloak', 'hood', 'rings', 'shield'], 'potions': {'mana': 5, 'health': 10}}}

In [77]:
for k, v in character.items():
    print(k, v)

first_name Lucas
last_name Lang
username LuCastle
inventory {'items': {'weapons': ['sword', 'dagger', 'staff'], 'apparel': ['gloves', 'boots', 'cloak', 'hood', 'rings', 'shield'], 'potions': {'mana': 5, 'health': 10}}}

## Exercise #2 - Create a Function that Prints All Key Value Pairs within a print statement .format()|f"{}"

In [ ]:
# done

##### sorted()

In [84]:
sorted(character.values())

TypeError: '<' not supported between instances of 'dict' and 'str'

##### List with Dictionaries

In [90]:
list_of_dictionaries = [
    {
        'first_name': 'Lucas',
        'last_name': 'Lang',
        'email': 'lucasl@codingtemple.com'
    },
    {
        'first_name': 'Derek',
        'last_name': 'Hawkins',
        'email': 'derekh@codingtemple.com'
    },
    {
        'first_name': 'Joel',
        'last_name': 'Carter',
        'email': 'joelc@codingtemple.com'
    },
]

In [91]:
for i in list_of_dictionaries:
    print(i['first_name'], i['email'])

Lucas lucasl@codingtemple.com
Derek derekh@codingtemple.com
Joel joelc@codingtemple.com

##### Dictionaries with Dictionaries

In [67]:
# done

##### Dictionaries with Lists

In [68]:
# done

## Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...

In [ ]:
# **kwars *args

# infinite number of keyword arguments
# infinite number of arguments

In [94]:
def blackbook():
    contact_list = []
    
    done = False
    while not done:
        decision = input('Would you like to add a contact? Y/N? ').lower()
        
        if decision == 'n':
            done = True
        elif decision == 'y':
            name = input("Type an a first and last name")
            email = input("Type an email address")
            location = input("Type a location")
            
            person_dict = {
                'name': name,
                'email': email,
                'location': location
            }
            
            contact_list.append(person_dict)
    print(contact_list)

blackbook()

Would you like to add a contact? Y/N? y
Type an a first and last nameLucas
Type an email addresslucasl@codingtemple.com
Type a locationMadison, WI
Would you like to add a contact? Y/N? y
Type an a first and last nameJoel Carter
Type an email addressjoelc@codingtemple.com
Type a locationChicago, IL
Would you like to add a contact? Y/N? n
[{'name': 'Lucas', 'email': 'lucasl@codingtemple.com', 'location': 'Madison, WI'}, {'name': 'Joel Carter', 'email': 'joelc@codingtemple.com', 'location': 'Chicago, IL'}]

## Set <br>
<p>A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [95]:
set1 = {1, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 4, 5, 6, 7}

In [100]:
set2 = set([9, 8, 7, 6, 5, 8, 7, 6, 5, 4, 7, 6, 5, 4, 3, 6, 5, 4, 3, 2])

In [96]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [99]:
set2

{1, 2, 3, 4, 5, 6, 7}

In [104]:
list1 = []
str1 = ""
tuple1 = ()
dict1 = {}

In [105]:
set3 = set()

In [106]:
type(set3)

set

##### .add()

In [108]:
set3.add(7)

In [109]:
set3

{7}

In [110]:
set3.add([2, 3])

TypeError: unhashable type: 'list'

In [112]:
set3.add((2, 3))

In [114]:
set3.add({'first_name': 'Lucas'})

TypeError: unhashable type: 'dict'

In [115]:
set3.add("qwerty")

In [116]:
set3

{(2, 3), 7, 'qwerty'}

In [117]:
set3.add({4, 5})

TypeError: unhashable type: 'set'

In [118]:
set4 = set()

set4.add(5)
set4.add((1, 2))

In [120]:
set4.add((1, 2))

In [121]:
set4

{(1, 2), 5}

##### .union()

In [126]:
set4.union(set3)

{(1, 2), (2, 3), 5, 7, 'qwerty'}

In [127]:
set4 | set3

{(1, 2), (2, 3), 5, 7, 'qwerty'}

##### .intersection()

In [132]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [133]:
set2

{2, 3, 4, 5, 6, 7, 8, 9}

In [131]:
set1.intersection(set2)

{2, 3, 4, 5, 6, 7}

In [135]:
set1 & set2

{2, 3, 4, 5, 6, 7}

##### .difference()

In [136]:
set1.difference(set2)

{1}

In [137]:
set2.difference(set1)

{8, 9}

In [138]:
set1 - set2

{1}

In [139]:
set2 - set1

{8, 9}

##### .symmetric_difference()

In [140]:
set1.symmetric_difference(set2)

{1, 8, 9}

In [142]:
set2 ^ set1

{1, 8, 9}

##### .clear()

In [144]:
set4[0]

TypeError: 'set' object is not subscriptable

In [145]:
for i in set4:
    print(i)

(1, 2)
5

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [147]:
fs = frozenset([1, 2, 3, 4, 5, 7, 4, 5, 6, 7])

In [148]:
dir(fs)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

In [150]:
set4.add(frozenset([5, 6, 7]))

In [152]:
for i in set4:
    print(i)

(1, 2)
5
frozenset({5, 6, 7})

In [165]:
matrix = (
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    (12, 23, 34)
)
matrix

([1, 2, 3], [4, 5, 6], [7, 8, 9], (12, 23, 34))

In [167]:
matrix[3][1] = '5'

TypeError: 'tuple' object does not support item assignment

In [161]:
matrix[1][2] = 8

In [164]:
matrix[1] = [9, 8, 7]

TypeError: 'tuple' object does not support item assignment

In [162]:
matrix

([1, 2, 3], [4, 5, 8], [7, 8, 9])

In [171]:
list_of_tuples = [
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9),
    (12, 23, 34)
]

In [173]:
list_of_tuples[0] = (4, 5, 6)

In [174]:
list_of_tuples

[(4, 5, 6), (4, 5, 6), (7, 8, 9), (12, 23, 34)]

## Modules

##### Importing Entire Modules

In [175]:
from IPython.display import clear_output

In [179]:
my_list = [76, 34, 6, 8, 23, 6, 8, 0, 1, 45]

sum_ = 0
for num in my_list:
    sum_ += num
    
sum_ / len(my_list)

20.7

In [180]:
from statistics import mean

mean(my_list)

20.7

In [181]:
help(mean)

Help on function mean in module statistics:

mean(data)
    Return the sample arithmetic mean of data.

    >>> mean([1, 2, 3, 4, 4])
    2.8

    >>> from fractions import Fraction as F
    >>> mean([F(3, 7), F(1, 21), F(5, 3), F(1, 3)])
    Fraction(13, 21)

    >>> from decimal import Decimal as D
    >>> mean([D("0.5"), D("0.75"), D("0.625"), D("0.375")])
    Decimal('0.5625')

    If ``data`` is empty, StatisticsError will be raised.

In [191]:
from random import shuffle, choice

In [186]:
shuffle(my_list)

In [187]:
my_list

[34, 8, 23, 0, 6, 45, 6, 76, 1, 8]

In [188]:
shuffle(my_list)
my_list

[76, 8, 8, 6, 45, 1, 34, 6, 0, 23]

In [189]:
shuffle(my_list)
my_list

[0, 34, 6, 8, 8, 45, 1, 76, 6, 23]

In [190]:
shuffle(my_list)
my_list

[45, 8, 8, 0, 34, 1, 6, 76, 6, 23]

In [206]:
choice(my_list)

6

##### Importing Entire Library

In [1]:
import random

In [1]:
my_list = [76, 34, 6, 8, 23, 6, 8, 0, 1, 45]

In [4]:
random.choice(my_list)

76

In [5]:
choice(my_list)

NameError: name 'choice' is not defined

##### Importing Methods Only

In [ ]:
# done

##### Using the 'as' Keyword

In [2]:
from random import shuffle as shuf, choice

In [3]:
print(my_list)
shuffle(my_list)
print(my_list)

[76, 34, 6, 8, 23, 6, 8, 0, 1, 45]

NameError: name 'shuffle' is not defined

##### Creating a Module

In [6]:
%run ./random_module.ipynb

# def get_average(my_list):
#     sum_ = 0
#     for num in my_list:
#         sum_ += num
#     return sum_

In [7]:
get_average(my_list)

20.7

### "*args" & "**kwargs"

In [8]:
def do_something(a_string):
    print(a_string)

In [ ]:
def do_something(*a_string):
    print(a_string)
    
do_something('value1', 'value2', 'value3', 'value4')

In [ ]:
def do_something(**a_dict):
    for k, v in a_dict.items():
        print(k, v)
        
do_something(value1='Lucas', value2='Lang', value3='Software Developper', value4='qwerty')

# Exercises

### 1) Build a Shopping Cart <br>
<p><b>Should have the following capabilities:</b><br><br>
1) Takes in input <br>
2) Stores user input into a list <br>
3) User can add or delete items <br>
4) User can see current shopping list <br>
5) Loops until user 'quits' <br>
6) Upon quiting the program, print out all items in the user's list <br>
</p>

In [9]:
print("""Instruction Line 1
Instruction Line 2
Instruction Line 3
Instruction Line 4""")

Instruction Line 1
Instruction Line 2
Instruction Line 3
Instruction Line 4

In [5]:
# Objects
# shopping_cart = []
# items = "strings"

# Actions
# add items into cart
# remove items from cart
# view all items in cart
# show list of instructions

# for loops
# while loops
# input functions
# conditional statements (control flow)
# functions

shopping_cart = []

while len(shopping_cart) <= 0:
    item = input("What would you like to add to your shopping cart? ")
    shopping_cart.append(item)
    print(shopping_cart)

What would you like to add to your shopping cart? carrots
['carrots']


### 2) Create a Module in Visual Studio Code and Import It <br>
<p><b>Module should have the following capabilities:</b><br><br>
1) Has a function to calculate the square footage of a room <br>
2) Has a function to calculate the circumference of a circle <br><br>
<b>Program in Jupyter Notebook should take in user input and use imported functions to calculate a circle's circumference or a houses square footage</b>
</p>

##### **Note: When using functions in Python, arguments are passed in by reference, NOT value.